body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url(https://i.imgur.com/Xg6d6fY.png) no-repeat center fixed;
    background-size: cover;
}
h1 {    
    color:white;
    font-size: 20px;
    text-align: center;
}
h2 {
    color: green;
    font-size: 25px;
    text-align: center;
}
h3 {
    color: black;
    text-align: center;
    font-size: 25px;
}
h4 {
    color: black;
    text-align: center;
    font-size: 20px;
}
p {
    color: black
}

.cabecera {
    background-color: rgb(20, 141, 211);
    height: 150px;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px
}
a {
    color: black;
    text-align: center;
    font-size: 30px;
}

.content {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 12px;
}

@media (max-width: 768px) {
    .content {
        width: 100%
    }
}

header {
    margin-bottom: 20px;
}
.miboton {
    display: block;
    width: 250px;
    height: 100px;
    background: green;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 99px;
}

.miboton:hover {
    background: rgb(3, 92, 3);
    color: #ddd;
}
.pie {
    background-color: rgb(71, 69, 69);
    height: 200px;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.elpie {
    text-align: left;
    font-size: 10px
}
.cabecera-text {
    text-align: left;
}
.alerta {
    background-color: rgba(240, 73, 73, 0.829);
    height: 22px;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alerta-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.barra-arriba {
    font-weight: bold;
    font-size: 20px
}



.site-nav {
    margin: 0 0 0 -12px;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden
}

.site-nav>.site-nav__item {
    display: inline-block;
    font-size: 16px
}

.site-nav .site-nav__link {
    display: block;
    text-decoration: none
}

.site-nav>.site-nav__item>.site-nav__link {
    position: relative;
    padding: 0 15px 12px 15px;
    color: #ffcbd3
}

.site-nav>.site-nav__item>.site-nav__link:hover {
    color: #ffcbd3
}

.site-nav .site-nav__invisible {
    right: 0
}

.site-nav>.site-nav__item>.site-nav__link::after {
    background-color: #ffcbd3;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transform: scaleY(0);
    transition: transform 0.25s;
    transform-origin: bottom;
    width: 100%
}

.site-nav__item:hover .site-nav__link:after {
    transform: scaleY(1)
}

.site-nav__item.site-nav--active .site-nav__link:after {
    transform: scaleY(1)
}

.site-nav__icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 0.1em;
    height: 1em;
    width: 18px
}

.site-nav__icon .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    height: 18px;
    width: 18px
}

.site-nav__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 6;
    background-color: #262021;
    font-size: 14px;
    color: rgba(255,254,255,0.7);
    white-space: normal;
    width: 240px;
    border-bottom: 3px solid #fffeff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15)
}

.site-nav__dropdown--with-promo {
    width: 480px
}

.site-nav__item--has-dropdown.open>.site-nav__dropdown,.no-js .site-nav__item--has-dropdown:hover>.site-nav__dropdown {
    display: block
}

.site-nav .site-nav__dropdown-heading,.site-nav .site-nav__dropdown-link[href="#"] {
    margin: 0 0 0.25em;
    font-size: 16px;
    color: #fffeff
}

.site-nav .site-nav__dropdown-heading:hover,.site-nav .site-nav__dropdown-link[href="#"]:hover {
    color: #fffeff
}
.linea-header {
    width: 100%;
    height: 80px;
    background-color: rgb(21, 123, 182);
    margin-bottom: 20px;
}
.linea {
    height: 3px;
    background-color: black;
    width: 100%;
}
.sub-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.sub-menu-item {
    width: 150px
}
.sub-menu-item-link {
    font-size: 30px;
    color: white;
    transition: color 0.5s;
    text-decoration: none;
}

.sub-menu-item-link:visited {
    color: white;
    text-decoration: none;
}

.sub-menu-item-link:hover {
    color: black;
    text-decoration: none;
}
.proximamente {
    color: red;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.proximamente-text {
    text-align: center;
}
input:checked + .slider {
    background-color: green!important;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red!important;
    -webkit-transition: .4s;
    transition: .4s;
}
label {
    cursor: default;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}