body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    position: relative;
    height: 100vh;
  
}
h1 {    
    color:white;
    font-size: 20px;
    text-align: center;
}
h2 {
    color: black;
    font-size: 25px;
    text-align: center;
}
h3 {
    color: black;
    text-align: center;
    font-size: 25px;
}
h4 {
    color: black;
    text-align: center;
    font-size: 20px;
}
p {
    color: black;
    margin: 0;
    margin-bottom: 0!important;
}
.maintenance {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9999;
}

.maintenance img {
    z-index: 999;
}

.overlay {
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
}
.ancho-maximo {
    max-width: 1200px;
}
.cabecera {
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px
}
a {
    color: black;
    text-align: center;
    font-size: 30px;
}

.content {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 12px;
    min-height: 300px;
}

header {
    margin-bottom: 20px;
}
.miboton {
    display: block;
    width: 250px;
    height: 100px;
    background: green;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 99px;
}

.miboton:hover {
    background: rgb(3, 92, 3);
    color: #ddd;
}
.pie {
    background-color: rgb(71, 69, 69);
    height: 200px;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.elpie {
    text-align: left;
    font-size: 10px
}
.cabecera-text {
    text-align: left;
    color: black;
}
.alerta {
    background-color: rgba(240, 73, 73, 0.829);
    height: 22px;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alerta h1 {
    margin-bottom: 0;
    font-size: 20px;
}
.alerta-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    transition: color 0.5s;
}
.alerta-text2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    margin-bottom: 5px
}
.alerta-text:hover {
    color:black;
    text-decoration: none;
}
.alert-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    transition: color 0.5s;
}

.barra-arriba {
    font-weight: bold;
    font-size: 20px
}
.linea-header {
    width: 100%;
    height: 80px;
    background-color: rgb(207, 212, 214);
}
.linea {
    height: 3px;
    background-color: black;
    width: 100%;
}
.sub-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.novedades-text {
    color: rgb(71, 67, 67);
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.novedades-link {
    font-size: 40px;
    color: black;
    transition: color 0.5s;
    text-decoration: none;
}
.novedades-link:hover {
    color: rgb(170, 163, 163);;
    text-decoration: none;
}
.sub-menu-item {
    width: 150px
}
.sub-menu-item-link {
    font-size: 30px;
    color: black;
    transition: color 0.5s;
    text-decoration: none;
}

.sub-menu-item-link:visited {
    color: black;
    text-decoration: none;
}

.sub-menu-item-link:hover {
    color: rgb(170, 163, 163);
    text-decoration: none;
}
.novedades {
    color: black;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
.proximamente-text {
    text-align: center;
}
.games-box {
    height: 243px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.651);
    width: 230px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
    border-radius: 2px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}
.play-roblox-game {
    background-color: rgb(55, 145, 55);
    border-radius: 2px;
    text-align: center;
    display: flex;
    width: 220px;
    height: 25px;
    padding-left: 60px;
}
.play-roblox-game-button {
    display: block;
    width: 220px;
    height: 100px;
    background: rgb(89, 189, 89);
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 99px;
    margin-top: 10px;
}
.game-box-text {
    font-size: 30px;
    color: black;
}
.footer {
    background-color: rgb(90, 86, 86);
    height: 215px;
    background-color: rgb(90, 86, 86);
    width: 100%;
    padding-top: 10px
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer-item {
    font-size: 30px;
    color: rgb(194, 177, 177);
    list-style: none;
}
.footer-ul-text {
    font-size: 20px;
    color: rgb(150, 150, 150);
    list-style: none;
    padding-top: 20px;
}
.footer-ul-text-contactanos {
    font-size: xx-small;
    color: rgb(150, 150, 150);
    list-style: none;
    padding-top: 30px;
}
.footer-ul-title {
    font-size: 20px;
    color: rgb(218, 211, 211);
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;
}
.footer-ul-link a {
    font-size: 15px;
    color: rgb(150, 150, 150);
    list-style: none;
    padding-top: 10px;
    transition: color 0.5s;
    text-decoration: none;
}
.footer-ul-link-contactanos a {
    font-size: 15px;
    color: rgb(150, 150, 150);
    list-style: none;
    padding-top: 10px;
    transition: color 0.5s;
    text-decoration: none;
}
.footer-ul-link-contactanos a:hover {
    color: rgb(230, 230, 230);
    text-decoration: none;
}
.footer-ul-link a:hover {
    color: rgb(230, 230, 230);
    text-decoration: none;
}
.footer-ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.proximamente-text-1 {
    color: rgb(190, 54, 54);
    font-size: 30px;
    text-align: center;
}
.proximamente-text-2 {
    color: rgb(71, 67, 67);
    font-size: 20px;
    text-align: center;
}
.home-title {
    font-size: 60px;
    color: black;
    text-align: center;
    margin-top: 10px;
}
.home-text {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 10px;
}
.home-text-1 {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 10px;
    right: 100px;
}
.home-text-2 {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}
.home-text-right {
    font-size: 40px;
    color: black;
    text-align: right;
    margin-top: 10px;
    right: 100px;
}


.centered {
    text-align: center;
}
/*Cards*/

.card-300 {
    width: 300px;
    margin: 10px;
}
.cards {
    display: flex;
    justify-content: space-around;
}
.cards-link {
    font-size: 20px;
    color: black;
    transition: color 0.5s;
    text-decoration: none;
}
.cards-link:hover {
    color: rgb(218, 211, 211);
    text-decoration: none;
}

/*Cambio de color*/

body.change-color {
    background-color: rgb(116, 116, 116);
    transition: all 1s ease;
}

.change-color .content {
    background-color: rgb(116, 116, 116);
    transition: all 1s ease;
}

.change-color .home-title {
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}

.change-color .home-text {
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}
.change-color .home-text-2 {
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}

.change-color .home-text-1 {
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}
.change-color .cabecera{
    background-color: rgb(116, 116, 116);
    transition: all 1s ease;
}
.change-color .cabecera-text{
    color: white;
    transition: all 1s ease;
}
.change-color .linea-header{
    background-color: rgb(138, 138, 138);
    transition: all 1s ease;
}
.change-color .proximamente-text-1{
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}
.change-color .proximamente-text-2{
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}
.change-color .novedades{
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}
.change-color .novedades-text{
    color: rgb(218, 211, 211);
    transition: all 1s ease;
}
.change-color .cards-link {
    font-size: 20px;
    color: rgb(218, 211, 211);
    transition: color 0.5s;
    text-decoration: none;
}
.change-color .filtraciones-title {
    color: rgb(218, 211, 211);
}
.change-color .filtraciones-text {
    color: rgb(218, 211, 211);
}
.change-color .filtraciones {
    color: rgb(218, 211, 211);
}
.change-color .filtraciones-2 {
    color: rgb(218, 211, 211);
}
.change-color .filtraciones-3 {
    color: rgb(218, 211, 211);
}
.change-color .filtraciones-text-2 {
    color: rgb(218, 211, 211);
}


/*boton switch*/
:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}
.switch-button {
    display: inline-block;
    margin-top: 10px;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 200px;
    height: 40px;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
    cursor: pointer;
    border: 1px solid black;
    transition: 1s;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
    transition: 1s;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(160px);
}
/*XMODAL*/
.xmodal {
    height: 200px;
    border: 1px solid black;
    position: fixed;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    right: 0;

}

.hidden {
    display:none;
}
.backdrop {
    background: rgba(0, 0, 0, 0.37);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.atention {
    font-size: 30px;
    color: rgb(190, 54, 54);
}
.xmodal-text {
    font-size: 20px;
    color: black;
}



/*CLOSE BUTTON*/
.btn-cerrar-modal {
    height: 50px;
    width: 50px;
    background-color: rgb(72, 179, 72);
    border-radius: 100px;
    border: 0px solid;
}
.btn-cerrar-modal:focus {
    outline: 0;
}
.x {
    font-size: 30px;
}
/*FILTRACIONES*/
.filtraciones-title {
    text-align: center;
    font-size: 60px;
    color: black
}
.filtraciones-text {
    text-align: center;
    font-size: 30px;
    color: black
}
.filtraciones {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 10px;
    right: 100px;
}
.filtraciones-2 {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 10px;
    right: 100px;
}
.filtraciones-3 {
    font-size: 40px;
    color: black;
    text-align: right;
    margin-top: 10px;
    right: 100px;
}
.filtraciones-cards {
    display: flex;
    justify-content: space-around;
}
.filtraciones-card-300 {
    width: 300px;
    margin: 10px;
}
.filtraciones-text-2 {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}
/*MEDIA QUERY*/
@media (max-width: 768px) {
    .content {
        width: 100%;
    }
    .sub-menu {
        height: auto;
        flex-direction: column;
        padding: 0;
        margin-bottom: 0px;
    }
    .linea-header {
        height: 140px;
    }
    .sub-menu-item {
         width: auto;
    }
    .novedades {
        font-size: 35px;
        padding: 0;
    }
    .novedades-text {
        font-size: 30px;
        padding: 0;
    }
    .novedades-link {
        font-size: inherit;
    }
    .container {
        flex-direction: column;
    }
    .footer {
        height: unset;
    }
    .home-text-left {
        text-align: center;
    }
    .home-text-2 {
        text-align: center;
    }
    .card-300-2 {
        margin: 0 auto;
    }
    .card-300 {
        margin: 0 auto;
    }
    .footer-ul-link {
        text-align: center;
    }
    .switch-button {
        display: flex;
        justify-content: center;
    }
    .cards {
        flex-direction: column;
    }
    .filtraciones-cards {
        flex-direction: column;
    }
    .filtraciones-3 {
        text-align: center;
    }
}